{% extends "app/layout.html" %}
{% block myCss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/mycss.css' %}" />
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1>{{ filterAlias }}</h1>
    <p>{{ explain }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="number" name="dotNum" min="0" max="100" step="1" value="1"> <input type="number" name="colorNum" min="0" max="100" step="1" value="1">
        <input type="file" name = "avatar" value="写真を選択してください" onchange="OnFileSelect( this );" required/><!--multipleで複数ファイル-->
        <button type="submit" name = "subColor" id = "btn_behind" style="display:none"></button>
    </form>
    {% include 'app/htmlComponents/pictureDisplay.html' %}
    {% include 'app/htmlComponents/controlButtons.html' %}
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'app/scripts/buttonClickEvent.js' %}"></script>
{% endblock %}
