{% extends "app/layout.html" %}
{% block myCss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/mycss.css' %}" />
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>
</div>
<ul>
    <li><a href="{% url 'app:subColor' %}">減色</a></li>
    <li><a href="{% url 'app:threshold' %}">二値化</a></li>
    <li><a href="{% url 'app:mosaic' %}">モザイク</a></li>
    <li><a href="{% url 'app:dotArt' %}">ドット絵風</a></li>
</ul>

{% endblock %}
{% block scripts %}
{% load static %}
{% endblock %}
