{% extends "app/layout.html" %}
{% block myCss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/mycss.css' %}" />
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h2>画像加工アプリ～巨匠～</h2>
    <div id="demoImage">
        <img src="{% static 'app/imgs/demoImage.png' %}">
    </div>
<!--巨匠について-->
<div id="aboutKyosho" >
    <p><br>画像加工アプリ～巨匠～について</br></p>
    <ul>
        <li>web上で画像加工が簡単にできるアプリです!</li>
        <li>数値を変えることによってあなた好みの画像へと変換することが可能です!</li>
        <li>ダウンロードボタンによって原画の大きさのまま画像ファイルをダウンロードすることが可能です!</li>
        <li>AIを用いた超解像技術も開発中!</li>
        <li>スマホからも変換可能!</li>
        <li>こんなフィルターが欲しいというご意見は”お問い合わせ”ページからお願いいたします!</li>
    </ul>

</div>
    <h2>フィルター一覧</h2>
  <!-- 3カラム -->
    <section class="gridWrapper">
        <article class="grid">
            <div class="box">
                    <a href="{% url 'app:dotArt' %}">
                        <img src="{% static 'app/imgs/flower_dotArt.jpg' %}" width="290" height="290" alt="">
                        <p>ドット絵風</p>
                    </a>
            </div>
        </article>
        <article class="grid">
            <div class="box">
                    <a href="{% url 'app:subColor' %}">
                        <img src="{% static 'app/imgs/flower_subColor.jpg' %}" width="290" height="290" alt="">
                        <p>減色</p>
                    </a>
            </div>
        </article>
        <article class="grid">
            <div class="box">
                    <a href="{% url 'app:mosaic' %}">
                        <img src="{% static 'app/imgs/flower_mosaic.jpg' %}" width="290" height="290" alt="">
                        <p>モザイク</p>
                    </a>
            </div>
        </article>
    </section>
    <!-- / 3カラム -->

    <!-- 3カラム -->
    <section class="gridWrapper">
        <article class="grid">
            <div class="box">
                    <a href="{% url 'app:threshold' %}">
                        <img src="{% static 'app/imgs/flower_threshold.jpg' %}" width="290" height="290" alt="">
                        <p>二値化</p>
                    </a>
            </div>
        </article>
        <article class="grid">
            <div class="box">
                    <a href="{% url 'app:gauss' %}">
                        <img src="{% static 'app/imgs/flower_gauss.jpg' %}" width="290" height="290" alt="">
                        <p>ガウスぼかし</p>
                    </a>
            </div>
        </article>
        <article class="grid">
            <div class="box">
                    <a href="{% url 'app:mosaic' %}">
                        <img src="{% static 'app/imgs/upcoming.png' %}" width="290" height="290" alt="">
                        <p>upcoming:線画抽出</p>
                    </a>
            </div>
        </article>
    </section>
<!-- / 3カラム -->
</div>

{% endblock %}
{% block scripts %}
{% load static %}
{% endblock %}
