{% extends "app/layout.html" %}
{% block content %}
<div class="jumbotron">
    <h1>画像加工～巨匠～</h1>
    <p>豊富なフィルターであなたの写真を加工します。</p>
    <!--<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">写真を選ぶ&raquo;</a></p>-->   
    <div class="buttonKinds">
        <input type="button" value="二値化" id = "btn_threshold">
        <input type="button" value="モザイク" id = "btn_mosaic">
        <input type="button" value="減色" id = "btn_subColor">
        <input type="button" value="ドット絵風" id = "btn_dotArt">
    </div> 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <!--
    <input type="file" value="写真を選択してください" onchange="OnFileSelect( this );" multiple />
    <ul id="ID001" ></ul>
    -->
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'app/scripts/buttonClickEvent.js' %}"></script>
{% endblock %}
