{% extends "app/layout.html" %}
{% block myCss %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/mycss.css' %}" />
{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1>画像加工～巨匠～</h1>
    <p>豊富なフィルターであなたの写真を加工します。</p>
    <!--<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">写真を選ぶ&raquo;</a></p>-->   

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       <!--{{ form.as_p }}--> 
        <input type="file" name = "avatar" value="写真を選択してください" onchange="OnFileSelect( this );" required/><!--multipleで複数ファイル-->
        <button type="submit" name = "gray" id = "btn_gray">グレー変換</button>
        <button type="submit" name = "threshold" id = "btn_threshold">二値化</button>
        <button type="submit" name = "mosaic" id = "btn_mosaic">モザイク</button>
        <button type="submit" name = "subColor" id = "btn_subColor">減色</button>
        <button type="submit" name = "dotArt" id = "btn_dotArt">ドット絵風</button>
        <input type="submit">
    </form>
    <ul id="ID001" ></ul>
    <img src="{{ dstPath }}" width="300" height="300"/>
<!--
    <tr>
        <td>{{ obj.description }}</td>
        <td><img src="{{ obj.photo.url }}" width="300" height="300"/></td>
        <td><img src="{{ obj.filterPhoto.url }}" width="300" height="300"/></td>
    <tr>
-->
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'app/scripts/buttonClickEvent.js' %}"></script>
{% endblock %}
